@model eClaims.Core.Entities.Claim

@{
    ViewData["Title"] = "Details";
}

<h1>Claim Details</h1>

<div>
    <h4>Claim #@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            Policy Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
           Incident Date
        </dt>
        <dd class = "col-sm-10">
            @Model.Incident.Date.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
           Description
        </dt>
        <dd class = "col-sm-10">
            @Model.Incident.Description
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
